<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<table>
    {% if headers|length %}
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
    {% endif %}

    {% for data in results %}
        <tr>
        {% for value in data %}
            <td>{{ value }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>

</body>
</html>